[user]
	email = APragmaticPlace@gmail.com
	name = Timidger
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /home/timidger/.gitignore_global
	pager = less -F -X
[http]
	sslVerify = true
[alias]
	co = checkout
	br = branch
	dif = diff
	st = status
	s = status
	pushf = push --force-with-lease
	com = commit -v -S
	dc = diff --cached
	# Check out branch
	cop = "!f() { git fetch origin pull/${1}/head:${2}; git checkout ${2}; }; f"
	# Replace text
	sed = "!f() { git grep -rl ${1} . | xargs sed -i \"s/${1}/${2}/g\"; }; f"
[grep]
	lineNumber = true
[commit]
	gpgsign = true
	verbose = true
[pull]
	rebase = true
