[user]
	email = APragmaticPlace@gmail.com
	name = Timidger
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /home/timidger/.gitignore_global
	pager = less -F -X
[http]
	sslVerify = true
[alias]
	co = checkout
	br = branch
	dif = diff
	st = status
	pushf = push --force-with-lease
	com = commit -v -S
	dc = diff --cached
[grep]
	lineNumber = true
[commit]
	gpgsign = true
	verbose = true
